---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/png" href="/favicon.ico">
  </head>

 <body>

  <!-- HERO IMAGE WITH NAV INSIDE -->
  <div style="
    width: 100%;
    height: 250px;
    background-image: url('/assets/img/header.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  ">
    <!-- DARK OVERLAY -->
  <div style="
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: 1;
  "></div>

    <div style="
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      text-shadow: 0 0 10px rgba(0,0,0,0.6);
      z-index: 2
    ">
      Research Portfolio | Saul Combes
      <div style="font-size: 1.2rem; font-weight: 300;">
        Microbiology • Intensive Care • Computational Biology
      </div>
    </div>


    <!-- NAV BAR INSIDE THE IMAGE -->
    <nav style="
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(0,0,0,0);
      padding: 0.75rem;
      text-align: center;
      z-index: 2;
    ">
      <a href="/" style="color:white; margin:0 1rem; text-decoration:none;">Home</a>
      <a href="/Projects/Projects" style="color:white; margin:0 1rem; text-decoration:none;">Projects</a>
      <a href="/Research_Areas" style="color:white; margin:0 1rem; text-decoration:none;">Research Areas</a>
      <a href="/Skills" style="color:white; margin:0 1rem; text-decoration:none;">Skills</a>
    </nav>

  </div>

  <main class="container" style="max-width: 900px; margin: 0 auto; padding: 2rem;">
    {{ content }}
  </main>

</body>
